/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/.idea/deployment.xml
/.idea/workspace.xml
/.idea/misc.xml
Gemfile.lock
testa_appium_driver.iml
testa_appium_driver-*.gem